# Core dependencies
streamlit==1.44.1
python-dotenv==1.1.0
openai==1.75.0


langchain==0.3.24
langchain-community==0.3.22
langchain-openai==0.3.14
faiss-cpu==1.10.0

# Document loaders
unstructured==0.17.2
pypdf==5.4.0
python-docx==1.1.2
python-pptx==1.0.2

# Type hints and utilities
typing_extensions==4.13.2
pydantic==2.11.3