# Core dependencies
streamlit
python-dotenv
openai


langchain
langchain-community
langchain-openai
faiss-cpu

# Document loaders
unstructured
pypdf
python-docx
python-pptx

# Type hints and utilities
typing-extensions
pydantic